{% extends 'pages/_base.html' %}

{% block title %}{{ person.username | title }}'s followers{% endblock title %}

{% block content %}
<h1>{{ person.username | title }}'s followers</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for follow in object_list %}
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <img src="{{ follow.user_id.socialaccount_set.all.0.get_avatar_url }}" />
                </div>
                <div class="card-body">
                    {% if follow.user_id.pk != user.pk %}
                        <a href="{% url 'user_detail' follow.user_id.pk %}" class="card-title stretched-link">{{ follow.user_id.username }}</a>
                    {% else %}
                        <a href="{% url 'my_profile_detail' %}" class="card-title stretched-link">{{ follow.user_id.username }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>This user has no followers</p>
    {% endfor %}
</div>
{% endblock content %}