{% extends 'pages/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <form class="mt-4" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary mt-2" style="border-radius: 25px" type="submit">Tweet</button>
    </form>
    <h2 class="mt-4">Followed tweets</h2>
    {% if user.following.all %}
        {% for tweet in object_list reversed %}
            {% for follows in user.following.all %}
                {% if tweet.author == follows.following_user_id %}
                    <div class="card text-black mt-3" style="background-color: #DCDEE0">
                        <div class="card-header">
                            <a href="{% url 'user_detail' tweet.author.pk %}">{{ tweet.author }}</a> | {{ tweet.date | timesince }} ago
                        </div>
                        <div class="card-body">
                            <p>{{ tweet.content }}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary mt-2" style="border-radius: 25px" href="{% url 'tweet_detail' tweet.pk %}">See comments</a>
                        </div>
                    </div>
                {% elif tweet.author == user %}
                    <div class="card text-black mt-3" style="background-color: #DCDEE0">
                        <div class="card-header">
                            <a href="{% url 'myProfile_detail' tweet.author.pk %}">{{ tweet.author }}</a> | {{ tweet.date | timesince }} ago
                        </div>
                        <div class="card-body">
                            <p>{{ tweet.content }}</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary mt-2" style="border-radius: 25px" href="{% url 'tweet_detail' tweet.pk %}">See comments</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>You're not following anybody, use the search bar to find your friends.</p>
        {% if user.tweets.all %}
            {% for tweet in user.tweets.all %}
                <div class="card text-black mt-3" style="background-color: #DCDEE0">
                    <div class="card-header">
                        <a href="{% url 'myProfile_detail' tweet.author.pk %}">{{ tweet.author }}</a> | {{ tweet.date | timesince }} ago
                    </div>
                    <div class="card-body">
                        <p>{{ tweet.content }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary mt-2" style="border-radius: 25px" href="{% url 'tweet_detail' tweet.pk %}">See comments</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% else %}
    <h1>Welcome to Twitter Clone!</h1>
    <p>You will not see any tweets until you log in.</p>
{% endif %}
{% endblock content %}