{% extends 'pages/_base.html' %}

{% block title %}{{ person.username | title }}{% endblock title %}

{% block content %}
<div class="d-flex bd-highlight">
<h1 class="p-2 flex-grow-1 bd-highlight">{{ person.username | title }}</h1>
{% if follow %}
    <form class="p-2 bd-highlight" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" style="border-radius: 25px" type="submit">Follow</button>
    </form>
{% else %}
    <div class="p-2 bd-highlight">
        <a class="btn btn-danger" style="border-radius: 25px" href="{% url 'user_unfollow' person.pk %}">Unfollow</a>
    </div>
{% endif %}
</div>
&nbsp;&nbsp;<img src="{{ person.socialaccount_set.all.0.get_avatar_url }}" />
<div class="d-flex bd-highlight">
    <p class="p-2 flex-grow-1 bd-highlight"><b>Followers: <a href="{% url 'followers_list' person.pk %}">{{ person.followers.all.count }}</a></b></p>
    <p class="p-2 bd-highlight"><b>Following: <a href="{% url 'following_list' person.pk %}">{{ person.following.all.count }}</a></b>
</div>
<hr>
{% if person.tweets.all %}
    {% for tweet in person.tweets.all reversed %}
        <div class="card text-grey mt-3">
            <div class="card-header">
                {{ tweet.date | timesince }} ago
            </div>
            <div class="card-body">
                <p>{{ tweet.content }}</p>
            </div>
            <div class="card-footer">
                <p>Likes: <a href="{% url 'likes_list' tweet.pk %}">{{ tweet.likes.all.count }}</a></p>
                {% for key, value in is_liked.items %}
                    {% if key == tweet.pk and not value %}
                        <form class="d-inline-block" action="{% url 'like_tweet' tweet.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-primary" style="border-radius: 25px" name="tweet_id" value="{{ tweet.id }}" type="submit">Like</button>
                        </form>
                    {% elif key == tweet.pk and value %}
                        <form class="d-inline-block" action="{% url 'unlike_tweet' tweet.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-danger" style="border-radius: 25px" name="tweet_id" value="{{ tweet.id }}" type="submit">Unlike</button>
                        </form>
                    {% endif %}
                {% endfor %}
                <a class="btn btn-primary" style="border-radius: 25px" href="{% url 'tweet_detail' tweet.pk %}">See comments</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>This user doesn't have any posts</p>
{% endif %}
{% endblock content %}